@using BlazorProject.Data
@page "/listtimetable2"

<h3>Timetable</h3>

<select @bind="@selectedDay">
    @foreach (var day in TimetableService.GetDay())
    {
        <option>@day</option>
    }
</select>

<ListTimetable2 Day=@selectedDay />

@code {
    public string selectedDay = "Monday";
}