@page "/questions"

<h3>Questions</h3>

<Question QuestionHeader="Question 1" QuestionBody="Как вас воспитали ваши родители?" />
<Question QuestionHeader="Question 2" QuestionBody="Любят ли они вас?" />
<Question QuestionHeader="Question 3" QuestionBody="Поете ли вы вместе песни?" />
<Question QuestionHeader="Question 4" QuestionBody="Разговариеваете ли вы?" />
<Question QuestionHeader="Question 5" QuestionBody="А вы любите их?" />
@code {

}
