@page "/registration"

<h3>Registartion</h3>

<Question QuestionBody="Как вас зовут?" />
<Question QuestionBody="Ваш возраст" />
<Question QuestionBody="Ваша почта?" />
<Question QuestionBody="Ваш город проживания?" />
@code {

}
