@page "/schedule"
@using Schedule.Data;
@inject Services.ScheduleService ScheduleService

<InputDay OnClickCallback="@GetScheduleDay"/>


<table class="table">
    <thead>
        <tr>
            <th>Classroom</th>
            <th>Name</th>
            <th>Teacher</th>
        </tr>
    </thead>
    <tbody>
        @if (Day != null)
        {
            @foreach (var subject in Day.Subjects)
            {
                <tr>
                    <td>@subject.Classroom</td>
                    <td>@subject.Name</td>
                    <td>@subject.Teacher</td>
                </tr>
            }
        }
    </tbody>
</table>

@code {

    private ScheduleDay Day;

    private void GetScheduleDay(string selectedDay)
    {
        Day = ScheduleService.GetTimeTableDay(selectedDay);
    }
}
