@page "/timetable"

@using Schedule.Shared

<h3>TimeTablePage</h3>

<select id="selectDay" @bind="@selectedDay">
    @foreach (var day in DataAccess.GetDays())
    {
        <option>@day</option>
    }
</select>


<LessonTable Day=@selectedDay />


@code {
    string selectedDay = "Monday";

}