@page "/questions"

<h3>Questions</h3>

<Question QuestionHeader="Question 1" QuestionBody="Какаой ваш любимый предмет?" />
<Question QuestionHeader="Question 2" QuestionBody="Как вы хотите провести летние каникулы?" />
<Question QuestionHeader="Question 3" QuestionBody="Какая ваша любимая песня?" />
<Question QuestionHeader="Question 4" QuestionBody="Умете ли вы играть на фортепиано?" />
<Question QuestionHeader="Question 5" QuestionBody="Какие у вас любимые цветы?" />
@code {

}
