@using BlazorProject.Data
@*@inject TimetableService TimetabService*@
<div class="container-fluid"
    <div>
        <select @bind="@day">
            <option selected="selected">  </option>
            @foreach (var i in TimetableService.GetDay().ToList())
            {
                <option>@i</option>
            }
        </select>
        @*<input type="text" @bind-value="@day"/>*@
        <button @onclick="@(() => OnClickCallback.InvokeAsync(day))">Get</button>
    </div>
</div>

@code {
    private string day;

    [Parameter]
    public EventCallback<string> OnClickCallback { get; set; }
}
