@using BlazorProject.Data

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Subject</th>
            <th>Teacher</th>
            <th>Classroom</th>
        </tr>
    </thead>
    <tbody>
        @if (TimetableService.GetItem(Day) != null)
        {
            @foreach (var table in TimetableService.GetItem(Day))
            {
                <tr>
                    <td>@table.Id</td>
                    <td>@table.Subject</td>
                    <td>@table.NameTeacher</td>
                    <td>@table.Classroom</td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    [Parameter]
    public string Day { get; set; } = "Monday";
}
