@using TimeTable.Services
@inject IJSRuntime Reader

<div>
    <p>@InfoName</p>
    <input type="text" @bind="@Name" />
</div>


@code {
    [Parameter]
    public string InfoName { get; set; }
    private string _name { get; set; }
    public string Name
    {
        get => _name;
        set
        {
            _name = value;
            LocalStorageSave();
        }
    }


    LocalStorageService storage;

    protected override void OnInitialized()
    {
        storage = new LocalStorageService(Reader);
        LocalStorageLoad();
    }

    public async void LocalStorageSave()
    {
        await storage.SetStringAsync(InfoName, Name);

    }

    public async void LocalStorageLoad()
    {
        try
        {
            Name = await storage.GetStringAsync(InfoName);
            StateHasChanged();
        }
        catch
        {

        }
    }
}
