@using TimeTable;
<h3>LessonTable</h3>

<table class="table">
    <thead>
        <tr>
            <td>Subject</td>
            <td>Teacher</td>
            <td></td>
        </tr>
    </thead>
@foreach(var subject in DataAccess.GetTimeTableDay(Day).Subjects)
{
    <tr>
        <td>@subject.Name</td>
        <td>@subject.Teacher</td>
        <td>
            <button class="btn btn-danger" @onclick="()=>DeleteSubject(subject)">Delete</button>
        </td>
    </tr>
}

</table>

@code {
    [Parameter]
    public string Day { get; set; } = "Monday";

    public void DeleteSubject(Subject subject)
    {
        var t = DataAccess.GetTimeTableDay(Day);
        t.Subjects.Remove(subject);
        //DataAccess.GetTimeTableDay(Day).Subjects.Remove(subject);
        //DataAccess.SaveTimeTableDay(t);
        //DataAccess.DeleteSubject(DataAccess.GetTimeTableDay(Day), subject);
    }

}
