@page "/information"

<h3>InformationPage</h3>
<p>Name</p>
<input type="text" />
<p>Mail</p>
<input type="text" />
<p>City</p>
<input type="text" />
<p>Name</p>
<input type="text" />
<p>Name</p>
<input type="text" />

@code {

}
