@page "/information"

@using TimeTable.Services
@inject IJSRuntime Reader

<h3>InformationPage</h3>

<InfoElement InfoName="Name"/>
<InfoElement InfoName="Mail"/>
<InfoElement InfoName="City"/>
<InfoElement InfoName="Phone number"/>

@code {
    
}
