@page "/timetable"

@using TimeTable.Shared

<h3>TimeTablePage</h3>

<select id="selectDay">
    @foreach (var day in DataAccess.GetDays())
    {
        <option>@day</option>
    }
</select>


<LessonTable Day=@selectedDay/>
@code {
    TimeTableDay selectedDay = DataAccess.GetTimeTableDay("Today");
}
